html {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.45em;
    line-height: 1.3;
}

h1 {font-size: 2.7em;}
h2 {font-size: 2.3em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.3em;}
h6 {font-size: 1em;}

p, ul, ol, dl {
    padding-bottom: 1.5em;
}